<div (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" [ngClass]="{'hovered': isMouseOver}">
<section class="listing">
  <img [routerLink]="['/details', housingLocation.id]" class="listing-photo" [src]="housingLocation.photo" alt="Exterior photo of {{housingLocation.name}}">
    <h2 class="listing-heading">{{ housingLocation.name }}</h2>
    <p class="listing-location">{{ housingLocation.city}}, {{housingLocation.state }}</p>
    <a [routerLink]="['/details', housingLocation.id]">Learn More</a>
  </section>
</div>